/*========== HEADER ==========*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: hsla(0, 0%, 100%, 0.72);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    padding-left: 3%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-right: 2%;
}

// nav
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 双击被选中框背景高亮 => 禁止选中页面内容 */
    user-select: none;
    -webkit-user-select: none;
}

// logo
.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo {
    position: relative;
    width: 36px;
    height: 36px;
    object-fit: cover;
    -webkit-object-fit: cover;
    background: rgb(34,34,34,1);
    border-radius: 50%;
}

/* logo-name */
.logo span {
    position: absolute;
    left: 1rem;
    white-space: nowrap;
    transition: 0.05s ease-out;
    padding-left: 4rem;
    transition: all .3s ease;
    /* 渐变色字体 */
    background: linear-gradient(120deg, rgb(132, 111, 244), rgb(241, 118, 116));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.logo:hover span {
    color: bisque;
}

.logo span::first-letter {
    color: #a35036;
    font-weight: 600;
    font-size: 2.3rem;
    transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
}

.logo:hover span::first-letter {
    color: rgb(255, 178, 83);
}


// navbar
.navbar li {
    display: inline-block;
    margin: 0 2rem;
}

.logo,
.navbar li .nav-link {
    color: rgba(32, 32, 32, 1);
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Cinzel Decorative';
    letter-spacing: 1px;
}

.navbar .nav-link {
    position: relative;
}

.navbar .nav-link:hover {
    color: rgba(231, 95, 250, 0.95);
}

.navbar .nav-link.active {
    color: #ec46b2;
}

// nav-link
.navbar .nav-link::before,
.navbar .nav-link::after {
    content: "";
    position: absolute;
    bottom: -8px;
    right: 0;
    left: auto;
    width: 0%;
    height: 1.2px;
}

.navbar .nav-link::before {
    background-color: #72a9f5;
    transition: all .25s cubic-bezier(.694, .048, .335, 1) .15s;
}

.navbar .nav-link::after {
    background-color: #f58f8f;
    transition: all .25s cubic-bezier(.694, .048, .335, 1);
}

.navbar .nav-link:hover::after,
.navbar .nav-link:hover::before {
    width: 100%;
    left: 0;
}