
.background-wrapper {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.wrapper-images {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
}
.wrapper-img {
  position: absolute;
  width: 100%;
  height: 100%;
// background-image: url("../assets/images/bg-1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  inset: calc(0.25rem * 0);
}
.bg-1 {
  background-image: url("@/assets/images/bg-1.webp");
}
.bg-2 {
    background-image: url("@/assets/images/bg-2.webp");
}
.bg-3 {
    background-image: url("@/assets/images/bg-3.webp");
}
.bg-4 {
    background-image: url("@/assets/images/bg-4.webp");
}

.wrapper-blur {
    position: absolute;
    z-index: -9;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(12px);
    --tw-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    will-change: backdrop-filter;
}

.wrapper-color {
    position: absolute;
    z-index: -8;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, rgb(161, 140, 209), rgb(251, 194, 235), rgb(161, 196, 253), rgb(194, 233, 251)) 0% 0% / 400% 400%;
    animation: 15s infinite colorchange ease-in-out;
    opacity: 0.6;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1), cubic-bezier(.4, 0, .2, 1);
    mix-blend-mode: color;
    transform: translateZ(0);
}

@keyframes colorchange {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}
