@use '@/styles/global.scss';
@use '@/styles/fonts.scss';
@use '@/styles/backgroundImg.scss';
@use '@/styles/overview.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: opacity 0.3s ease,
              transform 0.3s ease,
              width 0.3s ease,
              height 0.3s ease,
              background-color 0.3s ease,
              color 0.3s ease;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    // font-family: 'Roboto', sans-serif;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek,
  CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN",
  Meiryo, "MS Gothic";
    letter-spacing: 0.3px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: hsl(196, 100%, 73%);
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}